
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    body {
    background-image: a bunch of people exercising (7).jpg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    text-align: left;
    margin-top: 50px;
}

.logo h1 {
    font-size: 3em;
    color: #007bff;
}

.content {
    text-align: left;
    margin-top: 80px;
}

.content h2 {
    font-size: 4em;
    color: black;
}
