
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100vh; 
    overflow-x: hidden; 
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('a bunch of people exercising (7).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.2em;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
    
nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
   nav ul {
        list-style: none;
        flex-direction: row;
        align-items: center;
    }

    nav li a {
        padding: 8px 12px;
    }

    .top-nav {
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .top-nav span.left,
    .top-nav span.right {
        margin-bottom: 10px;
    }



  
.logo {
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    color: white;
}

.logo h1 {
    
    font-family: 'Playfair Display', serif;
    font-size: 2.7em;
    color: white;
    
}
.subheading {
    position: absolute;
    left: 20px;
    bottom: 35px;
}


.subheading h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    color: white;
}







    
 



    



