/* Import Google Fonts - Including Raleway (as requested) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Libre+Franklin&family=Playfair+Display&display=swap');

body {
    margin: 0;
    /* Using Open Sans for the main body text */
    font-family: 'Open Sans', sans-serif; 
    background-color: #f0f0f0;
    color: #333;
}

body {
    background-image: url('a bunch of people exercising (7).jpg'); /* Corrected: Use url() */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #d9d9d9;
    padding: 10px 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.top-nav a {
    color: #d9d9d9;
    text-decoration: none;
    margin-left: 15px;
}

nav ul {
    color:#d9d9d9;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav li a {
    color: #d9d9d9;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    text-align: left;
    margin-top: 50px;
}


.raleway-logo h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 2.5em;
  position: absolute;
  top: 20px;
  left: 50px;
  margin: 0;
}
    

.content {
    text-align: left;
    margin-top: 80px;
}

.subheading h2 {
    /* Using Playfair Display as a substitute for Bauer Bodoni */
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
   
}


    
Sent
Write to


