/* General Styles */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100vh; /* Ensure full viewport height */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body::before {
    content: "";
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('a bunch of people exercising (7).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Place behind other content */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    text-align: left;
    margin-top: 50px;
}
@media (max-width:480px) 
.logo h1 {
    
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    color: light gray;
    
}


}

.subheading h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li a {
        padding: 8px 12px;
    }

    .top-nav {
        flex-direction: column;
        align-items: center;
    }

    .top-nav span.left,
    .top-nav span.right {
        margin-bottom: 10px;
    }



   



    



